<html>
	<head>
		<title>Satisfaction Modal Example Page</title>
		<link rel="stylesheet" type="text/css" href="{{ asset('bundles/ajaxsatisfaction/css/apSatisfaction.css') }}"/>
		<link rel="stylesheet" type="text/css" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">

		<script src="//code.jquery.com/jquery-1.10.2.js"></script>
		<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
		<script src="{{ asset("bundles/ajaxsatisfaction/js/apSatisfaction.js") }}" type="text/javascript"></script>
	</head>
	<body>
		<input type="button" data-url="{{ path( "ajax_satisfaction_ajaxIndex" ) }}" value="Show Satisfaction Modal" onclick="showSatisfactionDialog(this, {{ year }}, {{ month }})"/>
		<div id="humorEquilibriumDialog" style="display:none;"></div>
	</body>
</html>