{% extends "::base.html.twig" %}
{% block body %}


    <div id="humorEquilibriumDialog" style="display:none;">

        <form id="sab_satisfactionbundle_stf_monthly_humor" name="sab_satisfactionbundle_stf_monthly" method="POST">
            <h3>Humeur</h3>
            <table border=0 cellspacing=0 cellpadding=0>
                <tr>
                    <td><input type="radio" id="sab_satisfactionbundle_stf_monthly_humor_4" name="sab_satisfactionbundle_stf_monthly[humor]" value="4"> <img src="{{ asset('bundles/satisfaction/images/hyper_content.png') }}" /> Très Bonne</td>
                    <td><input type="radio" id="sab_satisfactionbundle_stf_monthly_humor_2" name="sab_satisfactionbundle_stf_monthly[humor]" value="2"> <img src="{{ asset('bundles/satisfaction/images/moyenne.png') }}" /> Mauvaise</td>
                </tr>
                <tr>
                    <td><input type="radio" id="sab_satisfactionbundle_stf_monthly_humor_3" name="sab_satisfactionbundle_stf_monthly[humor]" value="3"> <img src="{{ asset('bundles/satisfaction/images/heureux.png') }}" /> Bonne</td>
                    <td><input type="radio" id="sab_satisfactionbundle_stf_monthly_humor_1" name="sab_satisfactionbundle_stf_monthly[humor]" value="1"> <img src="{{ asset('bundles/satisfaction/images/triste.png') }}" /> Très Mauvaise</td>
                </tr>
            </table>
            <table border=0 cellspacing=0 cellpadding=0 style="margin-top:5px;" id="ac_maintIrritant_table" style="display:none;">
                <tr>
                    <td>Quel est votre principal irritant ?</td>
                    <td> {{ form_widget( form_monthly.irritant ) }}</td>
                </tr>
            </table>
            <h3>Equilibre vie pro-perso</h3>
            <table border=0 cellspacing=0 cellpadding=0>
                <tr>
                    <td>Charge de travail actuelle</td>
                    <td>
                        {{ form_widget( form_monthly.equilibrium ) }}
                    </td>
                </tr>
            </table>
            {{ form_widget(form_monthly._token) }}
        </form>
    </div>

    <div style="margin:10px 2px; padding:10px;">
        <button class="btn btn-primary no-margin width220" name="submit-button" id="submit-button" type="button" onClick="fillHumor();" data-url="{{path('validate_form_ajax')}}">Valider</button>
    </div>


{% endblock %}